:root {
	/* Primary palette */
    --brand-primary-50:  var(--blue-50);
    --brand-primary-100: var(--blue-100);
    --brand-primary-200: var(--blue-200);
    --brand-primary-300: var(--blue-300);
    --brand-primary-400: var(--blue-400);
    --brand-primary-500: var(--blue-500);  /* default primary */
    --brand-primary-600: var(--blue-600);
    --brand-primary-700: var(--blue-700);
    --brand-primary-800: var(--blue-800);
    --brand-primary-900: var(--blue-900);
    --brand-primary-950: var(--blue-950);

	/* Success palette */
    --brand-success-50:  var(--green-50);
    --brand-success-100: var(--green-100);
    --brand-success-200: var(--green-200);
    --brand-success-300: var(--green-300);
    --brand-success-400: var(--green-400);
    --brand-success-500: var(--green-500);
    --brand-success-600: var(--green-600);
    --brand-success-700: var(--green-700);
    --brand-success-800: var(--green-800);
    --brand-success-900: var(--green-900);
    --brand-success-950: var(--green-950);

	/* Error palette */
    --brand-error-50:  var(--red-50);
    --brand-error-100: var(--red-100);
    --brand-error-200: var(--red-200);
    --brand-error-300: var(--red-300);
    --brand-error-400: var(--red-400);
    --brand-error-500: var(--red-500);
    --brand-error-600: var(--red-600);
    --brand-error-700: var(--red-700);
    --brand-error-800: var(--red-800);
    --brand-error-900: var(--red-900);
    --brand-error-950: var(--red-950);

	/* Warning palette */
    --brand-warning-50:  var(--yellow-50);
    --brand-warning-100: var(--yellow-100);
    --brand-warning-200: var(--yellow-200);
    --brand-warning-300: var(--yellow-300);
    --brand-warning-400: var(--yellow-400);
    --brand-warning-500: var(--yellow-500);
    --brand-warning-600: var(--yellow-600);
    --brand-warning-700: var(--yellow-700);
    --brand-warning-800: var(--yellow-800);
    --brand-warning-900: var(--yellow-900);
    --brand-warning-950: var(--yellow-950);

	/* Warning palette */
    --brand-notification-50:  var(--pink-50);
    --brand-notification-100: var(--pink-100);
    --brand-notification-200: var(--pink-200);
    --brand-notification-300: var(--pink-300);
    --brand-notification-400: var(--pink-400);
    --brand-notification-500: var(--pink-500);
    --brand-notification-600: var(--pink-600);
    --brand-notification-700: var(--pink-700);
    --brand-notification-800: var(--pink-800);
    --brand-notification-900: var(--pink-900);
    --brand-notification-950: var(--pink-950);
}
